.wishlist-container { /* archived */ }
.wishlist-title { /* archived */ }
.wishlist-empty { /* archived */ }
.wishlist-empty-img { /* archived */ }
.continue-shopping-btn { /* archived */ }
.wishlist-list { /* archived */ }
.wishlist-item { /* archived */ }
.wishlist-item-img { /* archived */ }
.wishlist-item-details { /* archived */ }
.wishlist-item-name { /* archived */ }
.wishlist-item-price { /* archived */ }
.wishlist-actions { /* archived */ }
.move-to-cart-btn { /* archived */ }
.remove-btn { /* archived */ }